.logo {
    max-width: 30%;
    justify-self: center;
    padding-top: 10%;
    padding-bottom: 2%;
    z-index: 3;
}

.slpa {
    max-width: 90%;
    justify-self: center;
    z-index: 2;
}


.container {
    display: grid;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.circle {
    position: absolute;
    justify-self: center;
    width: 50%;
    max-width: 700px;
    z-index: 0;
}