.card-hero {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.card-hero2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.img-card {
    max-width: 90%;
    position: relative;
}


.hide-me {
    display: none;
}

.show-me {
    transform: rotate(50%);
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.flip-card {
    opacity: .80;
    z-index: 9999;
    position:absolute;
    color: gray;
    padding-left: 1%;
    padding-bottom: 5%;
}

.flip-card:hover {
    cursor: pointer;
    color: darkgrey;
}

img {
    align-self: center;
}