.nav {
    height: 80px;
    margin: none;
    background-color: whitesmoke;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}


.nav-item {
    font-size: 1.35rem;
    padding: 1%;
    align-self: center;
}

.nav-link a:hover {
    cursor: pointer;
}


.nav-link, a:visited, a:link{
    text-decoration: none;
    color: #0d2618;
}

.nav-logo  {
    max-width: 60px;
    max-width: 60px;
    padding: 5%;
    display: flex;
}

.nav-img {
    max-width: 100%;
    text-align: left;
}