html{
    max-width: 1500px;
    margin: 0 auto;
    font-family: "proxima-nova", sans-serif;
    font-weight: 350;
    font-style: normal;
    background-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
}