html {
    background-image: url("./assets/texture.png");
    margin: 0 auto;
    color: #332517;
    font-family: seravek;
    max-width: 1400px;
}

button:hover {
    cursor: pointer;
    opacity: .6;
}